<h1>Hello! My name is Caleb Kumar</h1>

<%= link_to 'Articles I\'ve liked', controller: 'articles' %>
<%= link_to 'About Me', controller: 'about', action: "about" %>
<%= link_to 'Contact', controller: 'contact'%>